extends layout

block scripts
   script(src='/socket.io/socket.io.js')
   script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type="text/javascript")
   script(src="/js/highcharts.js", type="text/javascript")
   script(src="/js/main.js", type="text/javascript")
block content
   #current
     h3 0.0F
   #temperature

   form#command-form
      input#command(type='text')
      input(type='submit', value='Send')

   ul#info
      li
         h2 Target: 
            span.target
      li 
         h2 State: 
            span.state
      li 
         h2 Run time: 
            span.run-time
      li 
         h2 Threshold: 
            span.thresh