extends layout

block scripts
   script(src='/socket.io/socket.io.js')
   script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type="text/javascript")
   script(src="/js/highcharts.js", type="text/javascript")
   script(src="/js/main.js", type="text/javascript")
block content
   #current
     h3 0.0F
   #temperature