extends layout

block content
   .row
      .col-xs-12
         .tile-container
            .info
               span.started running for&nbsp;
                  span.time(am-time-ago="started_on")
   .row
      .col-xs-12.col-sm-6(ng-repeat="s in sensors")
         .tile-container
            .info(class="tile-{{$index | letterize}}")
               ul
                  li
                     span.temp {{s.temp}}°
                     i(class="fa fa-fire" ng-if="s.is_primary && s.state == 'on'")
                     span.title(ng-if='s.is_primary') {{s.goal}}° target
                  li
                     span.temp {{s.roc}}°/s
                     span.title rate
                  li.graph-container
                     .graph(temp-graph data="s.data" power-data="s.power_data")
               .attrs
                  span.name {{s.name}}

               a(href="#" ng-click="s.show_config=!s.show_config" ng-if="s.is_primary")
                  i(class="fa fa-cog")
            .config(ng-show="s.show_config")
               form.form(name='config' role='form')
                  .form-group
                     input.form-control(ng-pattern='/^\\d+$/' ng-required='true' name='target_temp' min='0' max='400' type='number' placeholder='Target temperature' ng-model='$parent.target_temp')
                  .form-group
                     input.form-control(ng-pattern='/^\\d+$/' ng-required='true' name='duty_cycle' type='number' placeholder='Duty cycle' ng-model='$parent.duty_cycle')
                  .form-group
                     button.btn.btn-default(required ng-disabled='!config.target_temp.$valid' type='submit' ng-click='update_config()') Update
   .row
      .col-xs-12
         a.reset(href="#" ng-click='reset()') reset
         &nbsp;
         span.pid PID {{pid}}
         button(ng-click='shutdown()') Shutdown

