extends layout

block content
   .tiles
      .tile-container.third(ng-repeat="s in sensors" class="tile-{{$index | letterize}}")
         .info
            ul
               li
                  span.temp {{s.temp}}°
                  span.title current
               li
                  span.temp {{s.change}}°
                  span.title change
               li.graph-container
                  .graph
            .attrs
               span.name {{s.name}}
               span.goal {{s.goal}}° Max
            i(class="fa fa-fire" ng-if="s.is_primary")
            i(class="fa fa-cog")

