extends layout

block content
   .row
      .col-xs-12
         .tile-container
            .info
               span.started running for&nbsp;
                  span.time(am-time-ago="started_on")
   .row
      .col-xs-12(ng-repeat="s in sensors")
         .tile-container
            .info(class="tile-{{$index | letterize}}")
               ul
                  li.values
                     .value-container
                        span.temp {{s.temp}}°
                        i(class="fa fa-fire" ng-if="s.is_primary && s.power == 'on'")
                        span.title(ng-if='s.is_primary') {{s.target}}° target
                     .value-container
                        span.temp {{s.roc}}°/s
                        span.title rate

                  li.graph-container
                     .graph(temp-graph data="s.data" power-data="s.power_data")
               .attrs
                  span.name {{s.name}}

               a(href="#" ng-click="s.show_config=!s.show_config" ng-if="s.is_primary")
                  i(class="fa fa-cog")
            .config(ng-show="s.show_config")
               form.form(name='config' role='form' ng-submit='sendCommands()')
                  .form-group(ng-repeat="c in $parent.commands")
                     input.form-control(ng-attr-name='{{c.command}}' ng-attr-placeholder='{{c.display_name}}' ng-model="$parent.form[c.command]")
                  .form-group
                     button.btn.btn-default(required type='submit' ng-click='update_config()') Update
   .row.hide
      .col-xs-12
         button.reset(href="#" ng-click='reset()') reset
         &nbsp;
         span.pid PID {{pid}}
         button(ng-click='shutdown()') Shutdown

