extends layout

block content
   .tiles
      .tile-container.third(ng-repeat="s in sensors" class="tile-{{$index | letterize}}")
         .info
            ul
               li
                  span.temp {{s.temp}}°
                  i(class="fa fa-fire" ng-if="s.is_primary && s.state == 'on'")
                  span.title(ng-if='s.is_primary') {{s.goal}}° target
               li
                  span.temp {{s.roc}}°/s
                  span.title rate
               li.graph-container
                  .graph(temp-graph data="s.data")
            .attrs
               span.name {{s.name}}

            a(href="#" ng-click="s.show_config=!s.show_config" ng-if="s.is_primary")
               i(class="fa fa-cog")
         .config(ng-show="s.show_config")
            form.form(role='form')
               .form-group
                  input.form-control(placeholder='Target temperature' ng-model='target_temp')
               .form-group
                  button.btn.btn-default(type='submit' ng-click='update_config(target_temp)') Update
