extends layout

block scripts
   script(src='/socket.io/socket.io.js')
   script(src='/js/d3.js', type='text/javascript')
   
   script(src='/js/jquery.js', type='text/javascript')
   script(src='/js/graph.js', type='text/javascript')
   script(src='/js/main.js', type='text/javascript')

block content
   .container
      .row
         .span3
            ul.values
               li
                  h3 Smoker Temp 
                     span.label.burner-state

                  .current.well-large.well
                     span.temp
               li
                  h3 Target Temp
                  .target-temp.well.well-large
               
               li
                  h3 Outside Temp
                  .outside-temp.well.well-large
               
               li
                  h3 Current Time
                  .current-time.well.well-large  

            .clear
               
            form.command
               fieldset
               input.text(type='text', placeholder='Send a command')
            
         .span9.graphs
            span#twomin-graph.graph
            span#tenmin-graph.graph
