doctype html
html(lang="en", ng-app="smokerApp")
   head
      title Smoker Control
      link(rel='stylesheet' href='css/font-awesome.min.css' type='text/css')
      link(rel='stylesheet' href='bootstrap/dist/css/bootstrap.css' type='text/css')
      != css('app')
      script(src='/angular/angular.min.js' type='text/javascript')
      script(src='/underscore/underscore.js' type='text/javascript')
      script(src='/socket.io/socket.io.js')
      script(src='/angular-socket-io/socket.min.js' type='text/javascript')
      script(src='/js/app.js' type='text/javascript')
      script(src='/js/controllers/sensors_controller.js' type='text/javascript')
      script(src='/js/services/sensors_service.js' type='text/javascript')
      script(src='/js/directives/graph.js' type='text/javascript')
      script(src='/js/filters/letterize.js' type='text/javascript')

      block scripts
   body(ng-controller="SensorsController")
      block content
