!!! 5
html(lang="en")
  head
    title Smoker Control
    link(rel='stylesheet', href='/css/app.css')
    script(src='/socket.io/socket.io.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type="text/javascript")
    script(src="/js/highcharts.js", type="text/javascript")
    script(src="/js/main.js", type="text/javascript")
          
  body
    #current
      h3 0.0F
      
    #temperature

