!!! 5
html(lang="en", ng-app="")
   head
      title Smoker Control
      link(rel='stylesheet', href='css/app.css', type='text/css')
      link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
      script(src='js/angular.min.js', type='text/javascript')
      block scripts
   body
      block content
