html, body
  background-color #fcfcfc
  font-family "Helvetica Neue"
  font-size 18px
  margin 0
  background-color #333
  padding 0

a
   color white

ul
  margin 0
  padding 0
  list-style-type none

.tile-container
  margin-bottom 30px

  .tile-a
    background-color #D5694E

  .tile-b
    background-color #8f7bb3

  .tile-c
    background-color #65B9B6

.config
   margin 0px 10px
   background-color #777
   padding 10px

.info
  color #fcfcfc
  text-align center
  font-size 1.5em
  margin 0px 10px
  background-color #D5694E
  position relative

  .fa-cog
    position absolute
    right 5px
    bottom 5px
    font-size 1em
  .attrs
    font-size .8em
    text-transform uppercase
    text-align left
    padding 10px
    padding-top 0px

    span
      margin-right 10px

  ul
    overflow hidden
    padding 10px

  li
    float left
    width 50%
    padding-bottom 10px

  .title
    color #dedede
    display block
    font-size .6em

  .graph-container
    width 100%
    height 100px

  .graph
    width 100%
    height 100%
    font 10px sans-serif

    path
      stroke white
      stroke-width 1
      fill none

    .line
      fill none
      stroke #000
      stroke-width 1px

    .axis path, .axis line
      fill none
      stroke #000
      shape-rendering crispEdges