html,body{background-color:#fcfcfc;font-family:"Helvetica Neue";font-size:18px;margin:0;background-color:#333;padding:0}
ul{margin:0;padding:0;list-style-type:none}
.tiles{width:648px;margin:0 auto;overflow:hidden;margin-top:6px}
.tile-container{float:left;}
.tile-container.full{width:632px;float:none;clear:both;padding:8px;}
.tile-container.full div{background-color:#d5694e}
.tile-container.third{width:200px;padding:8px}
.tile-container.tile-a .info{background-color:#d5694e}
.tile-container.tile-b .info{background-color:#8f7bb3}
.tile-container.tile-c .info{background-color:#65b9b6}
.info{color:#fcfcfc;text-align:center;font-size:1.5em;background-color:#d5694e;position:relative;}
.info .fa-cog{position:absolute;right:5px;bottom:5px;font-size:1em}
.info .attrs{font-size:.4em;text-transform:uppercase;text-align:left;padding:10px;padding-top:0;}
.info .attrs span{margin-right:10px}
.info ul{overflow:hidden;padding:10px}
.info li{float:left;width:50%;padding-bottom:10px}
.info .title{color:#dedede;display:block;font-size:.6em}
.info .graph-container{width:180px;height:60px}
.info .graph{width:100%;height:100%;}
.info .graph path{stroke:#fff;stroke-width:1;fill:none}
