html, body
  background-color #fcfcfc
  font-family "Helvetica Neue"
  font-size 18px
  margin 0
  background-color #333
  padding 0

ul
  margin 0
  padding 0
  list-style-type none

.tiles
  width 648px
  margin 0 auto
  overflow hidden
  margin-top 6px

.tile-container
  float left

  &.full
    width 632px
    float none
    clear both
    padding 8px

    div
      background-color #D5694E

  &.third
    width 200px
    padding 8px

  &.tile-a .info
    background-color #D5694E

  &.tile-b .info
    background-color #8f7bb3

  &.tile-c .info
    background-color #65B9B6

.info
  color #fcfcfc
  text-align center
  font-size 1.5em
  background-color #D5694E
  position relative

  .fa-cog
    position absolute
    right 5px
    bottom 5px
    font-size 1em
  .attrs
    font-size .4em
    text-transform uppercase
    text-align left
    padding 10px
    padding-top 0px

    span
      margin-right 10px

  ul
    overflow hidden
    padding 10px

  li
    float left
    width 50%
    padding-bottom 10px

  .title
    color #dedede
    display block
    font-size .6em

  .graph-container
    width 180px
    height 60px

  .graph
    width 100%
    height 100%
    font 10px sans-serif

    path
      stroke white
      stroke-width 1
      fill none

    .line
      fill none
      stroke #000
      stroke-width 1.5px

    .axis path, .axis line
      fill none
      stroke #000
      shape-rendering crispEdges